version: "3.9"

services:
  database:
    image: postgres
    container_name: database_ignite
    restart: always
    ports:
      - 65432:5432
    environment:
      - POSTGRES_USER=docker
      - POSTGRES_PASSWORD=aStoRMAterga
      - POSTGRES_DB=rentx
    volumes:
      - pgdata:/data/postgres

  redis:
    image: redis:alpine
    ports:
      - 6379:6379

  # app:
  #   build: .
  #   container_name: rentx
  #   ports:
  #     - 3333:3333
  #   volumes:
  #     - .:/usr/app

volumes:
  pgdata:
    driver: local